/* ------ start my rules  ----*/

.container {
  margin: auto;
  width: 1110px;
}

body, body * {
  box-sizing: border-box;
}

body {
  background: #888;
}

.flexBox {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
}

/* ------ start my header  ----*/

.header .slider {
  height: 800px;
  background: #ddd;
}

.header {
  text-transform: uppercase;
}

.header .navbar {
  background: #263031;
  overflow: hidden;
}

.header .navbar .container h2 {
  float: left;
  color: #eef4f4;
}

.header .navbar .container h2 span {
  color: #6fe082;
}

.header .navbar .container ul {
  list-style: none;
  padding-left: 0;
  float: right;
  color: #eef4f4;
}

.header .navbar .container ul li {
  float: left;
  padding: 10px;
  overflow: hidden;
}

/* ------ start main body  ----*/

main {
  height: 4000px;
  /* just to make the height clear :) */
}

.background-features {
  background: #fff;
}

.background-features h2 {
  color: #4a5556;
  text-transform: uppercase;
}

.background-features p {
  color: #9a9898;
  text-align: justify;
}

.features {
  padding: 20px;
}

section.features:first-child {
  padding-left: 0;
}

/* ______________________________________*/

.background-aboutme {
  background: #f3f3f2;
}

.background-aboutme .image {
  width: 40%;
}

.background-aboutme .image img {
  width: 100%;
}

.background-aboutme .about-me {
  width: 60%;
}