@import url('https://fonts.googleapis.com/css?family=Cinzel|Fira+Sans');
/* ------ start my rules  ----*/

.container {
  margin: auto;
  width: 1110px;
}

body, body * {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: #4a5556;
  font-family: 'Cinzel', serif;
}

p {
  color: #9a9898;
}

.flexBox {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
}

/* ------ start my header  ----*/

.header .slider {
  min-width: calc(100vw - 50%);
  max-height: 100vh;
  height: 987px;
  background: url("../img/img.png");
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 27%;
  margin: 0;
}

.header {
  text-transform: uppercase;
}

.header .navbar {
  background: #263031;
  overflow: hidden;
}

.header .navbar .container h2 {
  float: left;
  color: #eef4f4;
}

.header .navbar .container h2 span {
  color: #6fe082;
}

.header .navbar .container ul {
  list-style: none;
  padding-left: 0;
  float: right;
  color: #eef4f4;
}

.header .navbar .container ul li {
  float: left;
  padding: 10px;
}

/* ------ start main body  ----*/

main {
  height: 4000px;
  /* just to make the height clear :) */
}

.background-features {
  background: #fff;
}

.background-features h2 {
  color: #4a5556;
  text-transform: uppercase;
}

.background-features p {
  color: #9a9898;
  text-align: justify;
}

.features {
  padding: 20px;
}

section.features:first-child {
  padding-left: 0;
}

/* ______________________________________*/

.width-100 {
  width: 100%;
}

.background-aboutme {
  background: #f3f3f2;
}

.background-aboutme .image {
  width: 40%;
  float: left;
}

.background-aboutme .image img {
  width: 100%;
  background-size: cover;
}

.background-aboutme .about-me {
  width: 60%;
  float: left;
  padding-left: 118px;
  padding-top: 132px;
}

.background-aboutme .about-me p {
  text-align: justify;
}

.fix-flot {
  overflow: hidden;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  padding-top: 31px;
  justify-content: space-between;
}

.hobbies section {
  width: 40%;
}

/*_________________________________*/

.skills {
  display: flex;
  padding-top: 20px;
  margin-top: 45px;
  justify-content: space-between;
}

.skills h2 {
  margin: 0;
}

progress {
  background-color: green;
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: green !important;
  color: black;
}

progress::-webkit-progress-bar {
  background: #f3f3f2;
  background-color: #f3f3f2;
   !important;
}

.meter {
  width: 45%;
}

button {
  border: 1px solid green;
  text-decoration: none;
  padding: 10px;
  margin-top: 33px;
  margin-left: 25px;
  color: green;
  background: #fff;
}

.meter p {
  margin-top: 33px;
  margin-bottom: 43px;
}

/*_____________________________*/

.myresume {
  background: #f3f3f2;
  text-align: center;
}

/*_____________________*/

.myeducation .education, .myexperiensce .work {
  justify-content: space-between;
  display: flex;
}

.myeducation .education .edu, .myeducation .education .mydoc, .myexperiensce .work .workexp, .myexperiensce .work .workdis {
  width: 45%;
}

/*_____________________________*/