@import url('https://fonts.googleapis.com/css?family=Cinzel|Fira+Sans');
/* ------ start my rules  ----*/

body, body * {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
  line-height: 30px;
}

.container {
  margin: auto;
  width: 1110px;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: #4a5556;
  font-family: 'Cinzel', serif;
}

p {
  color: #9a9898;
}

.flexBox {
  display: inline-flex;
  position: relative;
  justify-content: space-between;
}

hr {
  background: #cbcbcb;
  height: 1px;
  border: 0;
}

/*_____________________end my rules_____________*/

/* ------ start my header  ----*/

.header {
  text-transform: uppercase;
}

/*    start sider  */

.header .slider {
  height: 730px;
  background: url("../img/black2.png");
  background-size: cover;
  text-align: center;
}

.header .slider .intro {
  padding-top: 265px;
}

.header .slider .intro h1 {
  padding: 20px 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  width: 660px;
  margin: auto;
}

.header .slider .intro button {
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  margin-top: 40px;
  text-transform: uppercase;
  width: 185px;
  height: 56px;
  border: 2px solid #ffffff;
}

/*______________________*/

/*  start navbar  */

.header .navbar {
  background: #263031;
  overflow: hidden;
}

.header .navbar .container h2 {
  float: left;
  color: #eef4f4;
  padding-top: 8px;
}

.header .navbar .container h2 span {
  color: #6fe082;
}

.header .navbar .container ul {
  list-style: none;
  padding-left: 0;
  float: right;
  color: #eef4f4;
}

.header .navbar .container ul li {
  float: left;
  padding: 10px;
}

.header .navbar .container ul li a {
  text-decoration: none;
  color: #fff;
  transition: color ease 1.5s;
}

.header .navbar .container ul li a:hover, .header .navbar .container ul li.activ a {
  color: #2ecc71;
}

/*_______________  end header __________________*/

/*________________________________________________________*/

/* -------------------- start main body  ----*/

/*     start features    */

/* main {
  height: 4000px;
  /* just to make the height clear :) */

.background-features {
  background: #fff;
}

.background-features h2 {
  color: #4a5556;
  text-transform: uppercase;
}

.background-features p {
  color: #9a9898;
  text-align: justify;
}

.features {
  padding: 20px;
}

section.features:first-child {
  padding-left: 0;
}

/* ______________________________________*/

/*    start about me    */

.width-100 {
  width: 100%;
}

.background-aboutme {
  background: #f3f3f2;
}

.background-aboutme .image {
  width: 40%;
  float: left;
}

.background-aboutme .image img {
  width: 100%;
  background-size: cover;
}

.background-aboutme .about-me {
  width: 60%;
  float: left;
  padding-left: 118px;
  padding-top: 48px;
}

.background-aboutme .about-me p {
  text-align: justify;
}

.fix-flot {
  overflow: hidden;
}

/*_________________________________*/

/*  start hobbies   */

.hobbies {
  display: flex;
  flex-wrap: wrap;
  padding-top: 31px;
  justify-content: space-between;
}

.hobbies section {
  width: 40%;
}

/*_________________________________*/

/*     start skills and progress   */

.skills {
  display: flex;
  padding-top: 20px;
  margin-top: 45px;
  justify-content: space-between;
  text-align: justify;
}

.skills h2 {
  margin: 0;
}

progress {
  background-color: green;
  width: 100%;
}

progress::-webkit-progress-value {
  background-color: green !important;
  color: black;
}

progress::-webkit-progress-bar {
  background: #f3f3f2;
  background-color: #f3f3f2;
}

.meter {
  width: 45%;
}

.myresume button, .skills button {
  border: 1px solid green;
  text-decoration: none;
  padding: 10px;
  margin-top: 33px;
  margin-left: 25px;
  color: green;
  background: #fff;
}

.meter p {
  margin-top: 33px;
  margin-bottom: 43px;
}

/*_____________________________*/

/*  start resume  */

.myresume {
  background: #f3f3f2;
  text-align: center;
}

/*_____________________*/

/*  start education and work experiensce */

.myeducation .education, .myexperiensce .work {
  justify-content: space-between;
  display: flex;
  text-align: justify;
}

.myeducation .education .edu, .myeducation .education .mydoc, .myexperiensce .work .workexp, .myexperiensce .work .workdis {
  width: 45%;
}

/*_____________________________*/

/*    start my fav words and text  */

.contanttext {
  width: 100%;
  padding: 50px 0;
}

.contanttext .word {
  margin-bottom: 24px;
}

.contanttext .word p {
  border-left: 5px solid rgba(154, 152, 152, .6);
  padding-left: 40px;
  background: linear-gradient(to right, rgba(154, 152, 152, .15), #f3f3f2);
}

.wordtext {
  background: #f3f3f2;
  line-height: 36px;
  color: rgb(145, 145, 145);
  font-family: "Roboto";
  font-size: 24px;
  text-align: center;
  font-style: italic;
}

.wordtext ul {
  list-style: none;
  display: flex;
  width: 70px;
  margin: auto;
  justify-content: center;
  justify-content: space-between;
  padding-left: 0;
}

.wordtext ul li {
  width: 15px;
  height: 15px;
  border: 2.5px solid #2ecc71;
  border-radius: 50%;
  transition: all ease-in-out .4s;
}

.wordtext ul li:hover {
  background: #2ecc71ab;
  box-shadow: .5px .5px 2px #575658;
}

/*_________________________*/

/* start style my Portfolio */

.Portfolio h2 {
  padding-top: 60px;
  margin-top: 0;
}

.Portfolio p {
  margin-bottom: 0;
  text-align: center;
}

.myproj {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
}

.myproj div {
  width: 32%;
  height: 32%;
}

.myproj div img {
  width: 92%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px;
  box-shadow: 10px 10px 15px #ccc;
}

/*___________________________*/

/*   start contact   */

.contactme {
  background: #252e30;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact div {
  width: 45%;
}

/*_____________________________*/

/*  start footer style */

footer.footer {
  background: #191f21;
  text-align: center;
  padding: 20px;
  color: #3e4648;
  text-transform: uppercase;
}